<app-navadmin2></app-navadmin2>
<div class="container">



    <div class="row">



        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">



            <div class="row g-3">



                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12">



                    <label for="" class="form-label">Security Code</label>



                    <input name="securitycode" [(ngModel)]="securitycode" type="text" class="form-control">



                </div>



           



            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xxl-12 text-center">



                <button (click)="readValue()" class="btn btn-success">Search</button>



            </div>



        </div>
        <div class="row" ></div>

            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                <table class="table">

                    <thead>

                      <tr>

                        <th scope="col">Security Name</th>

                        

                        <th scope="col">Address</th>

                        <th scope="col">Salary</th>
                        <th scope="col">Phone No</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">Username</th>

                      </tr>

                    </thead>

                    <tbody>

                      <tr *ngFor="let i of readValues">

                        <td>{{i.name}}</td>

                        

                        <td>{{i.address}}</td>

                        <td>{{i.salary}}</td>
                        <td>{{i.phnno}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.username}}</td>

                      </tr>

                     

                    </tbody>

                  </table>




        </div>



        </div>



</div>

    </div>

