<app-navadmin></app-navadmin>
<div class="container">

    <div class="row">

        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3">
           
            <div class="row g-3">

                
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Security Code</label>

                    <input name="securitycode" [(ngModel)]="securitycode" type="text" class="form-control">
                    

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Security Name</label>

                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                    

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label for="" class="form-label">Salary</label>

                    <input name="salary" [(ngModel)]="salary" type="text" class="form-control">
                    

                </div>

                

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <label class="form-label">Address</label>



                    <textarea name="address" [(ngModel)]="address"  id="" cols="160" rows="3" class="form-control"></textarea>





                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label class="form-label">Phone no</label>



                    <input name="phnno" [(ngModel)]="phnno" type="text" class="form-control">



                </div>

                

                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label class="form-label">Email Id</label>



                    <input name="email" [(ngModel)]="email"type="text" class="form-control">



                </div>
                
                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label class="form-label">Username</label>



                    <input name="username" [(ngModel)]="username" type="text" class="form-control">



                </div>

                
                

                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label class="form-label">Password</label>



                    <input name="password" [(ngModel)]="password" type="text" class="form-control">



                </div>
                <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label class="form-label">Confirm Password</label>



                    <input name="confirmpass" [(ngModel)]="confirmpass" type="text" class="form-control">



                </div>

                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">

                   

                    <button (click)="readValues()" class="btn btn-success">Add</button>



                </div>

            </div>
           

        </div>

    </div>

</div>
